#!/bin/bash

SOC=mx8qx
readonly CM_TYPE="m4"
readonly UBOOT_USE_M4="use_${CM_TYPE}"
readonly DEFAULT_DTB="imx8qxp-var-som-symphony-sd-m4.dtb"
readonly LOAD_ADDR_DDR="0x88000000"
# For 8xp, uboot always loads to 0x88000000. bootaux will copy to proper address
readonly LOAD_ADDR_TCM="0x88000000"

readonly MEMORY_OPTIONS=(
  "debug"
  "release"
  "ddr_debug"
  "ddr_release"
  "exit..."
)
